.wrapper {
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding: 25px;
  width: 90%;
  max-width: 730px;
  margin: auto;
  box-shadow: 0px 0px 10px 0px rgba(58, 71, 89, 0.05);
  position: relative;
}
.wrapper.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.input {
  flex: 1;
  align-self: stretch;
  color: rgba(29, 37, 45, 1);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  outline: none;
}
