.container {
  padding: 0 15px;
}
.header {
  padding: 50px 0;
}
.title {
  text-align: center;
  color: #1d252d;
  font-size: 26px;
  line-height: 39px;
  font-weight: var(--bold-weight);
  margin: 0;
}
.desc {
  font-size: 16px;
  font-weight: var(--light-weight);
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
