.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20%;
  flex-grow: 1;
}
.title {
  font-size: 22px;
  font-weight: var(--bold-weight);
  line-height: 26px;
  margin: 40px 0 25px 0;
  color: rgba(29, 37, 45, 1);
}
.subCategory {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.subCatItem {
  font-size: 16px;
  font-weight: var(--light-weight);
  line-height: 24px;
  text-decoration: none;
  color: var(--dark);
}

.showAll {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--red);
  text-decoration: none;
}
.showAllWrapper {
  display: flex;
  align-items: center;
}
