.wrapper {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 0px 10px 0px rgba(58, 71, 89, 0.05);
  padding: 35px 40px;
  margin-bottom: 20px;
}
.wrapper:last-of-type {
  margin-bottom: 100px;
}
.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  color: var(--dark);
}
.question.open {
  font-weight: 600;
  color: var(--red);
}
.answer p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  color: var(--dark);
}
