.wrapper {
  color: var(--white);
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  box-shadow: 2px 2px 0px 0px rgba(34, 34, 34, 0.2);
  position: relative;
}
.titleMD {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  margin: 0;
}

.titleXL {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  margin: 0;
  margin-bottom: 50px;
}
.ribonRight {
  position: absolute;
  right: 0;
  top: -55px;
}
.ribonLeft {
  position: absolute;
  left: 0;
  bottom: -42px;
}
