.wrapper {
  background-color: var(--white);
  padding-top: 30px;
  padding-bottom: 29px;
  box-shadow: 0px 10px 10px 0px rgba(58, 71, 89, 0.05);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navLinks {
  list-style: none;
  display: flex;
}
