.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(-5deg);
}
.links {
  display: flex;
  list-style: none;
}

.links img {
  margin: 0 18px;
}

.ribonRight {
  transform: rotate(5deg);
}

.ribonLeft {
  transform: rotate(5deg);
}
