.container {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 9;
  color: var(--dark);
  background-color: var(--white);
  left: 0;
}
.resultList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.resultItem {
  box-shadow: 0px 1px 0px 0px rgba(29, 37, 45, 0.05);
  font-size: 16px;
  font-weight: var(--normal-weight);
  line-height: 24px;
  padding: 23px 40px;
}
.resultItem:hover {
  cursor: pointer;
  background-color: var(--background);
}
.resultItem strong {
  font-weight: var(--bold-weight);
}
.resultItem.notFound {
  color: var(--red);
}
