@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --blue: #0b6ab2;
  --white: #ffffff;
  --background: rgba(250, 250, 252, 1);
  --dark: #3a4759;
  --red: #cc171b;
  --light-weight: 400;
  --normal-weight: 500;
  --bold-weight: 700;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mr-sm {
  margin-right: 8px;
}
.mr-md {
  margin-right: 10px;
}
.mr-lg {
  margin-right: 20px;
}
.mr-xl {
  margin-right: 25px;
}

.ml-sm {
  margin-left: 8px;
}
.ml-md {
  margin-left: 10px;
}
.ml-lg {
  margin-left: 20px;
}
.ml-xl {
  margin-left: 25px;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
