.wrapper {
  background-color: var(--blue);
  color: var(--white);
}
.container {
  display: flex;
  justify-content: space-between;
  line-height: 21px;
  font-size: 14px;
}
.contact {
  height: 40px;
  display: flex;
  align-items: center;
}
.social {
  height: 40px;
  display: flex;
  align-items: center;
}
