.container {
  border-radius: 6px;
  background-color: #4c3572;
  margin: 100px 15px;
  padding: 20px 30px 20px 50px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.description {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
}

.button {
  cursor: pointer;
  border-radius: 27px;
  border: 1px solid var(--white);
  padding: 12px 20px;
  transition: all 0.3s;
}
.button:hover {
  color: #4c3572;
  background-color: var(--white);
}
